.factory-menu {
  position: absolute;
  top: 277px;
  padding: 5px;
  width: 500px;
  border: 1px solid #000;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  background-color: #CFE1EF;
}

.node-menu {
  position: absolute;
  z-index: 1000;
  top: 42px;
  left: -218px;
  padding: 5px;
  width: 500px;
  border: 1px solid #000;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  background-color: #CFE1EF;
}
